*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: bisque;
    height: 100vh;
}
header {
    width: 100%;
    height: 10vh;
    background-color: rgb(245, 143, 143);
    
}
.logo {
    height: 6vh;
    background-color: rgb(230, 228, 228);
    text-align: center;
    color: brown;
    margin-top: 2vh;
    text-shadow: 3px 2px 2px brown;
    font-style: italic;
    font-size: larger;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation {
    height: 5vh;
    background-color: rgb(232, 111, 111);
    display: flex;
    justify-content: center;
    align-items: center ;
h5 {
    margin-left: 5vh;
    margin-right: 5vh;
}
    P{
        color: aliceblue;
        padding: 10px;
      
    }
}
.center {
    width: 100%;
    height: 80vh;
    background-color: blue;
    display: flex;
}
.left {
    width: 20%;
    background-color:white ;
    height: 80vh;
    div{
        margin-top: 7px;
    }
    img{
        border-radius: 50%;
        width: 150px;
        margin-top: 10px;
        box-shadow: 7px 5px 2px rgb(219, 105, 128);
    }
}
.middle {
    width: 50%;
    background-color:white;
    height: 80vh;
    div{
        margin-left: auto;
        margin-right: auto;
    }
    li{
        margin-left: 50px;
    }
    input{
        margin: 5px;
    }
}
.right {
    width: 30%;
    background-color:white;
    height: 80vh;
    p{
        color: white;
        margin-left: 20px;
    }
    img{
        width: 100%;
        margin-left: 20px;
    }
    a{
        color: crimson;
    }
}
.input {
    width: 40%;
    height: 4vh;
    margin: 2% 3% 2% 3%;
}
.box4 {
    display: block;
    padding-left: 5vh;
    width: 50vh;
}
footer {
    width: 100%;
    height: 10vh;
    background-color:rgb(245, 143, 143);
    
}